
   .navbar-top {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid;
  border-color: #DEDEDE;
  padding-top: 10px;
  padding-bottom: 10px;


}

.navbar-top div {
  font-size: 14px;
  
  color: #7C7C7C;
}

.logo , .logo1 {
  width: 116px;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  padding: 10px;
  border-bottom: 2px solid;
  border-color: #DEDEDE;
  align-items: center;

}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;


}

 nav ul li {
  margin-right: 20px;
 }

 nav ul li a {
  text-decoration: none;
  color: #7C7C7C;
 }
 nav ul li a:hover {
  color: #38ADA9;
 } 

 .devis a:hover {
  color: white;
 }

 .actif {
  font-weight: bold;
  color: #38ADA9;

 }

 .devis {
  height: 60px;
  width: 190px;
  background-color: #38ADA9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
 }

 .devis a {
  color: white;
  text-decoration: none;

 }

 .show-menu, .hide-menu {
  display: none;
  font-size: 30px;
  cursor: pointer;

 }

 #chk {
  position: absolute;
  visibility: hidden;
  z-index: -999;
 } 

 footer {
  height: auto;
  width: 100%;
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 0;
  margin-top: 5%;
}

.stay {
  width: 400px;
}

.acces , .contact , .serv{
  width: 250px;
}


.logo , .logo1 {
  width: 116px;
  height: auto;
}

footer p {
  font-size: 13px;
}

footer ul {
  list-style: none;
  font-size: 13px;
  padding: 0;

}

footer ul a {
  text-decoration: none;
  color: black;
}

.icon a {
  color: #38ADA9;
  
}

.icon a i {
  padding: 5px;

}

@font-face{
    font-family: Poppins-Light;
    src: url(Poppins-Light.otf);

}
@font-face{
    font-family: Poppins-Medium;
    src: url(Poppins-Medium.otf);

}
 
 

.tof img {
    width: 100%;
HEIGHT: 491PX;
/* background: rgba(56, 173, 169, 0.411); */

}
.cadreb{
width: 100%;
height: 460PX;
background-color: #daeff5;
margin-top: 5%;

}
.cadreb h2 {
  MARGIN-TOP: -20%;
  MARGIN-LEFT: 37%;
  font-family: Poppins-medium;
}
.cadreb P {
  width: 58%;
  MARGIN-LEFT: 37%;
  MARGIN-TOP: 0%;
  font-family: Poppins-Light;
  FONT-SIZE: 144%;
}
.cadreb img {
  width: 32%;
  MARGIN-TOP: 1%;
  MARGIN-LEFT: 2%;
  border-radius: 15%;
}
@media (min-width:100PX) and (max-width: 1423px) {
      
.cadreb{
    width: 88%;
    margin-left: 5%;
    HEIGHT: 0%;
    padding-bottom: 1%;


    }
    .cadreb img{
        width: 44%;
        
        MARGIN-LEFT: 29%;
       
    }
   .cadreb #img2{
        width: 44%;
        
        MARGIN-LEFT: 30%;

    }
  .cadreb   #txtp{ width: 70%;
        MARGIN-LEFT: 18%;
        MARGIN-TOP: 0%;
        font-family: Poppins-Light;
        FONT-SIZE: 104%;

    }
    .cadreb  P{
        width: 70%;
        MARGIN-LEFT: 18%;
        MARGIN-TOP: 0%;
        font-family: Poppins-Light;
        FONT-SIZE: 104%;
    
    
    }
    .cadreb #txth2{
        width: 70%;
        MARGIN-LEFT: 18%;
        MARGIN-TOP: 0%;
        font-family: Poppins-Light;
        FONT-SIZE: 104%;
    }
    .cadreb h2{
        MARGIN-TOP: 2%;
        MARGIN-LEFT: 18%;
        font-family: Poppins-medium;
        WIDTH: 77%;
        FONT-SIZE: 120%;
}
.cadreb #txth3{
  width: 70%;
  MARGIN-LEFT: 18%;
  MARGIN-TOP: 0%;
  font-family: Poppins-Light;
  FONT-SIZE: 104%;
}

  }

  .cadreb #img2 {
    width: 32%;
    MARGIN-TOP: 1%;
    MARGIN-LEFT: 61%;
    border-radius: 15%;
}
  #txth2 {
    MARGIN-TOP: -20%;
    MARGIN-LEFT: 3%;
    font-family: Poppins-medium;
}
#txtp {
  width: 58%;
  MARGIN-LEFT: 3%;
  MARGIN-TOP: 0%;
  font-family: Poppins-Light;
  FONT-SIZE: 144%;
}
  .cadreb #img5{

    width: 38%;
    MARGIN-TOP: 2%;
    MARGIN-LEFT: 1%;
    border-radius: 15%;
    HEIGHT: auto;
  }
  #txth3{
    MARGIN-TOP: -21%;
    MARGIN-LEFT: 42%;
    font-family: Poppins-medium;
  }

  @media (min-width:100PX) and (max-width: 1423px) {


   .cadreb #img2{

        margin-left: 30%;
    }
    .cadreb #img5{
        margin-left: 30%;
    }
  }
  #footer{
    Width: 100%;
    height: 324PX;
    background-color: rgb(247, 247, 247);
    MARGIN-TOP: 11%;
  }

  #footer h2  {
    MARGIN-LEFT: 6%;
    PADDING-TOP: 6%;
    font-family:Poppins-Medium ;
    color: #38ADA9;

  }
  #footer  p {
    MARGIN-LEFT: 6%;
    /* PADDING-TOP: 7%; */
    font-family:Poppins-Light ;
    color: #3E3E3E;
   

  }
  /* #footer li {
    margin: 0;
    PADDING: 0;
    /* TEXT-ALIGN: unset; */

#servf{
  top: 409%;
  LEFT: 53%;
  list-style: none;
  MARGIN-TOP: -18%;
  font-size: 82%;
  MARGIN-LEFT: 52%;


}
#servf a {
  text-decoration: none;
  color: #3E3E3E;
  font-family:Poppins-Light ;
}
#servf h3 {
 
  font-family: Poppins-medium ; color: #38ADA9;
  font-size: 207%;
}
#cont{
  margin-top: -13%;
  MARGIN-LEFT: 75%;
}
/* MEEEEEEEEEEEEEEE */

@media (min-width:100PX) and (max-width: 1030px){



  
 


#servf{
  margin-left: 0%;
  margin-top: 0px;
}
#cont{
  margin-left: 0%;
  margin-top: 1%;
}
}
/* <----------------------------------------page2-----------------------------------------------> */

#back img {
  width: 100%;
  z-index: 1;
}
#nous {

  background-color: #daeff5;
  width: 100%;
  height: 456PX;
  margin-top: 41PX;
}
#nous img {
  width: 36%;
  MARGIN-LEFT: 54%;
  PADDING: 2%;
  BORDER-RADIUS: 75PX;
}
#nous h3{
  MARGIN-TOP: -31%;
  MARGIN-LEFT: 12%;
  font-family: Poppins-medium;
  color: #3E3E3E;
  FONT-SIZE: 218%;
}
#nous p {
  font-family: Poppins-Light;
  color: #3E3E3E;
  FONT-SIZE: 125%;
  width: 51%;
  MARGIN-LEFT: 3%;
  MARGIN-TOP: -1%;
}
/* <------------------------ media--------------------------------------------------> */


@media (min-width:100PX) and (max-width: 1030px){

  #back img {
    width: 100%;
  }
  #nous img  {
    width: 80%;
    margin-left: 8%;
    border-radius: 24PX;

  }
  #nous {
    height: 1355PX;
  }
  #nous h3{
    margin-top: 2%;
    
    FONT-SIZE: 155%;
  }
  #nous p {
    width: 95%;
  }
}
/* }
<-------------------------chek--------------------------------> */

#chek{
width: 100%;

}
#chek h2 {
  MARGIN-LEFT: 41%;
  MARGIN-TOP: 4%;
  FONT-SIZE: 276%;
  font-family: Poppins-medium;
  color: #38ADA9;
}
#chek img {
  width: 19%;
  MARGIN-LEFT: 21%;
  margin-top: 1%;
}
 #chek2{
  MARGIN-LEFT: -15%;
  MARGIN-TOP: -3%;
  width: 102%;

}
.oc{
  color: #38ADA9;
  font-family: Poppins-medium;
}
#chek p {
  font-family: Poppins-Light;
  width: 51%;
  MARGIN-LEFT: 46%;
  MARGIN-TOP: 4%;
}
#doc{
  margin-top: -43%;
}
/* --------------------------------media chek------------------------------------------ */


@media (min-width:100PX) and (max-width: 1030px){


#chek h1{

  width: 86%;
  MARGIN-LEFT: 16%;
  FONT-SIZE: 226%;


}
#chek img {


  width: 80%;
  margin-left: 8%;
}
#chek2{
  width: 100%;
    margin-left: 23%;
    margin: 0%;
}
#doc{

  margin-left: -72%;
    MARGIN-TOP: 4%;

}
}
/* <----------------------------------TEAM-------------------------------> */

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #7C7C7C;
  margin-top: 89px;
  background-color: #daeff5;


}
.content-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.content-ar{
  width: 400px;
  text-align: center;

}
.content-ar {


  margin: 0px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
h4{
  text-align: center;
  color: #38ADA9;
  font-family: Poppins-medium;
  padding-top: 2%;
  font-size: 21px;
}

/* -----------------------------------------------------------------media team -------------------------------------------------------------- */
@media (min-width:100PX) and (max-width: 1030px){

  .devisf h5 {
    margin: auto;
    padding-bottom: 50px !important;
    margin-left: 0% !important;
    font-size: 29px;
    text-align: center;
}
 .content-all{

  margin-top: 0%;
}
.content-ar{
 
  text-align: center;

}
.content h1 {

  text-align: center;
  color: #38ADA9;
  font-family: Poppins-medium;
  padding-top: 0%;
  font-size: 41px;
}
.content-ar p {

  color: #7C7C7C;
  font-family: Poppins-light;
  font-size: 17px;
  text-align: center;
 
} 
.overlay h1 {
  color: white !important;
  font-size: 27PX !important;
}







}


#g1{


  width: 11%;
}

body {
  margin: 0;
  font-family: 'poppins';}
  





#ff{

  margin-left: 12PX;
}
.welcome {
  background-image: url('img1/5.jpg');
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;

}


.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
background: linear-gradient(to left, rgba(0, 0, 0, 0.7),rgba(56, 173, 169, 0.7));


}

.overlay h1{
 color: white;
 font-size: 47PX;
 margin-top: -11%;
}

.overlay-text {

    height: 400px;
    width: 470px;
    color: white;
    padding-left: 124px;
    padding-top: 167px;
}


.abt-btn {
  height: 60px;
  width: 229px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 23px;

}

.abt-btn a {
 color: #38ADA9;
 text-decoration: none;
}
.welcome2 {
  background-image: url('img1/1.jpg');
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;

}
/* ---------------------------------------------------devisstylei------------------------------------------------------- */
@media (min-width:1423PX) and (max-width: 2000px){
  .cadreb h2 {
    MARGIN-TOP: -22%;
    MARGIN-LEFT: 37%;
    font-family: Poppins-medium;
}
#txth2 {

  MARGIN-TOP: -21%;
}
#txtp{

  font-size: 128%;
}
.cadreb #img2 {
  width: 32%;
  MARGIN-TOP: 2%;
  MARGIN-LEFT: 61%;
  border-radius: 15%;
}
.cadreb #img5 {
  width: 38%;
  MARGIN-TOP: 2%;
  MARGIN-LEFT: 1%;
  border-radius: 15%;
  HEIGHT: auto;
}
#txth3 {
  MARGIN-TOP: -20%;
  MARGIN-LEFT: 42%;
  font-family: Poppins-medium;
  /* FONT-SIZE: 120%; */
}
#txtp3 {
  width: 58%;
  MARGIN-LEFT: 42%;
  MARGIN-TOP: 0%;
  font-family: Poppins-Light;
  FONT-SIZE: 135%;
}


.overlay-text {

  height: 400px;
  width: 470px;
  color: white;
  padding-left: 124px;
  padding-top: 192px;
}





}
@media (min-width:1423PX) and (max-width: 2000px){
  #nous img {
    width: 24%;
    MARGIN-LEFT: 59%;
    PADDING: 2%;
    BORDER-RADIUS: 75PX;
    MARGIN-TOP: -1%;
}

#nous h3 {
  MARGIN-TOP: -19%;
  MARGIN-LEFT: 12%;
  font-family: Poppins-medium;
  color: #3E3E3E;
  FONT-SIZE: 218%;
}

#nous p {
  font-family: Poppins-Light;
  color: #3E3E3E;
  FONT-SIZE: 125%;
  width: 51%;
  MARGIN-LEFT: 3%;
  MARGIN-TOP: -1%;
}
#chek img {
  width: 15%;
  MARGIN-LEFT: 21%;
  margin-top: 0%;
}
#chek2 {
  MARGIN-LEFT: -14%;
  MARGIN-TOP: -3%;
  width: 102%;
}
#doc {
  margin-top: -36%;
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #7C7C7C;
  margin-top: 220px;
  background-color: #daeff5;
}


  
}
/* ----------------------ttt------------------- */
.devisf{

  flex-wrap: wrap;
  border-radius: 1px;
  background-color:  #daeff5;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 5%;
  width: 80%;
 
  border-top-color: darkblue(0, 17, 255);
  border-top-width: 15px;
}
.devisf h5 {

  
  font-size: 30px;
  margin: auto;
  padding-bottom: 50px;
margin-left: 34%;
  font-size: 30px;
}
 div#coll1{
  width: 97%;
    padding: 2px;
}
div#coll2{
  width: 97%;
    padding: 2px;
}
label{
  margin: 12px;
}
.fn{
  width: 100%;
  padding: 12px;
  border: 1px;
  border-radius: 15px;
  box-sizing: border-box;
  margin: 10px;


}

em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
  font-size: 20px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px  black;
  border-radius: 15px;
  box-sizing: border-box;
  margin: 10px;
}
div#coll3{
  flex-grow: 2;
  padding: 16px;
}
input[type=submit] {
  background-color: #38ADA9
  ;
  color: white;
  padding: 12px 20px;
  font-family: poppins-medium ;
  border-color: #678987
  ;
 
   border: none;
  cursor: pointer;
  border-radius: 8px;
}